<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.garlicg.screenrecord4cm">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:name="com.garlicg.screenrecord4cm.App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name">

        <activity
            android:name="com.garlicg.screenrecord4cm.SettingsActivity"
            android:label="@string/app_simple_name"
            android:launchMode="singleTask"
            android:theme="@style/LightTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>

        <activity-alias
            android:name=".LauncherDummy"
            android:targetActivity="com.garlicg.screenrecord4cm.SettingsActivity">

        </activity-alias>

        <activity-alias
            android:name=".FromManager"
            android:targetActivity="com.garlicg.screenrecord4cm.SettingsActivity">
            <intent-filter>
                <action android:name="com.garlicg.cutin.action.PICK" />

                <category android:name="com.garlicg.cutin.category.TRIGGER" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity-alias>


        <activity
            android:name="com.garlicg.screenrecord4cm.VideoListActivity"
            android:label="@string/video_list"
            android:theme="@style/DarkTheme"/>

        <service
            android:name="com.garlicg.screenrecord4cm.RecordService"
            android:exported="false"
            android:process=":recorder" />

        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="${fabricApiKey}" />


    </application>

</manifest>
